.nav{
  background-color: #cf9139;
}

.about-image{
}
.custom-item-divider.item-divider {
  background-color: #cf9139;
  color: white;
}

.rights{
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
