.askphone {
  background-color: #cf9139 !important;
  ion-item {
    background: transparent;
    ion-label {
      color:white;
    }
    ion-input {
      font-size: 28px;
      color:white;
    }
  }
}
